// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';

@import "node_modules/font-awesome/scss/font-awesome.scss";

@font-face {
    font-family: OptimusPrinceps;
    src: url('/fonts/Courgette-Regular.ttf');
}

h1, h2, h3, h4, h5 {
    font-family: 'OptimusPrinceps', sans-serif;
    color: #545b62;
}

input, textarea {
    //font-size: $font-size !important;
    font-weight: $font-weight;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #e9ecefa6;
    outline: none;
}

.group-line {
    cursor: pointer;
    padding: 0 6px;
    border-bottom: 1px solid #3f9ae51a;
    /* line-height: 20px; */
}

.group-text {
    width: calc(100% - 30px);
    display: inline-block;
    vertical-align: baseline;
    //font-size: $font-size;
    font-weight: $font-weight;
}
#steps .group-text {
    width: calc(100% - 62px);
}

#list a {
    outline: none;
    border: none;
}

.toggle-item {
    font-weight: bold;
    color: #3490dc;
}

//.toggle-item:before {
//    content: "\25CF ";
//    margin-top: -1px;
//    margin-left: -12px;
//    font-size: 16px;
//    color: #2d995b;
//}

.toggle-valid {
    border: 1px solid #38c172;
}

.group-line button {
    display: inline-block;
    vertical-align: baseline;
    border: none;
}

.span-time {
    font-size: 0.75rem;
    width: 100%;
    text-align: right;
    font-weight: $font-weight;
}

.span-time input {
    background: none;
    border: none;
}

.card {
    margin-bottom: 1rem;
    border: none;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 13%);
}

.card-header {
    font-family: 'OptimusPrinceps', sans-serif;
    padding: 0.4rem 0.75rem;
    font-weight: 900;
    color: #545b62;
}

.time-to-add {
    //font-size: $font-size;
    margin: 8px;
    color: #2d995b;
    font-weight: 800;
}
.no-border {
    border: none;
}

.eval-text {
    width: 100%;
    //font-size: $font-size;
    font-weight: $font-weight;
    margin-bottom: 4px;
    border: 1px solid #e9ecef;
}

.eval-txt {
    width: calc(100% - 100px);
    padding: 0 6px;
}

.eval-time {
    width: 60px;
    text-align: right;
    padding: 0 6px;
}

.eval-btn {
    width: 20px;
}

.table.table-sm {
    //font-size: $font-size;
}

.inline {
    display: inline-block;
    vert-align: middle;
    position: relative;
}

.drop-box {
    position: absolute;
    z-index: 10;
    width: fit-content;
    margin-top: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 black;
}

.down-item:hover {
    font-weight: bold;
}

.down-item {
    //font-size: $font-size;
    font-weight: $font-weight;
}

span.bold {
    font-family: 'OptimusPrinceps', sans-serif;
    color: #545b62;
}

.form-control-sm {
    width: calc(100% - 34px);
}

#evals .card-header {
    background-color: #ffe2e2;
}

#evals.saved .card-header {
    background-color: #a0efcd;
}

.navbar-light .navbar-brand {
    color: #666666 !important;
}

.steps-inner {
    max-height: 927px;
    overflow-y: auto;
    overflow-x: hidden;
}

input, textarea {
    border: 1px solid #d3f7d5a6 !important;
}

.card-body {
    padding: .75rem;
}

[class^='col-md'] {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-control-sm {
    font-size: $font-size-base;
}

.with-btn .form-control-sm {
    width: calc(100% - 56px);
}

#bbtn {
    position: absolute;
    right: 5px;
    top: 3px;
}
